.wrapper {
  &Selected {
    $tooltipHovered: & !global;
  }
}

.relative {
  position: relative;
}

.tooltip {
  position: absolute;
  display: none;
  background-color: rgba(0,0,0, .7);
  padding: 4px 8px;
  border-radius: 4px;
  color: white;
  z-index: 10;
  min-width: 120px;
  font-size: .825rem;
  #{$tooltipHovered} & {
    display: block;
  }
}
